
body {
  background-image: url(1.jpg);
  background-size: cover;
}

h2 {
  color: #FFEB44;
  text-align: center;
  border: 5px solid rgba(255, 176, 170, 0.5);
  cursor: pointer;
}

p {
  color: pink;
}
p {
  color: green;
}

li {
  color: red;
  list-style: none;
  display: inline-block;
}
