body {
    background-color: #EBE8E4;
    color: #c4f;
    font-family: Arial sans-serif;
    font-weight: 10;
    font-size: 1em;
}

nav {
  background-color: #fff;
  border-radius: 4px;
  display: block;
  color: #888;
  width: 90%
  overflow: hidden;
  margin: 8px 22px 8px 22px;
  border: 1px solid #g3l;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
}

.first {
  border-radius: 4px
  margin: inherit;
  margin-top: 11em;
  display: block;
}
