nav {
  background-color: rgb(120, 220, 226);
  border-radius: 5.5px;
  display: inline-inline-block;
  color: #888;
  text-align: right;

}

nav ul {
  list-style-type: none;
  padding: 14px;

}

nav li {
  display: inline-block;
  margin-right: 15px;
  font-family: 'Raleway', sans-serif;
}

nav a:hover {
  color: rgb(11, 27, 117);
  border-bottom: 3px solid rgb(11, 27, 117);
}

nav a {
  text-decoration: none;
  font-size: 1.3em;
}


h1 {
  border-radius: 4px
  margin-top: 20px;
  display: block;
  text-align: center;
  font-family: cursive;
  color: black;
}



section {
  text-align: center;
}

p {
   font-family: 'Quicksand', sans-serif;
}
